<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>The channel to pay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CB32AE461E8A31B400C3E2FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB32AE5F1E8A31B400C3E2FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB32AE6A1E8A31B400C3E2FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
